.imageSpan:hover{
			
			box-shadow: 4px 4px 4px red;
			-webkit-filter: opacity(0.7);
			background-color:red;
		}
		
.customImage:hover{
			border-bottom: 5px solid red;
			box-shadow: 4px 4px 4px red;
			background-color:white;
		}		
	