div #message p a {

     display: none;
}

div .updated {
    border-left-color: lime;
    border-left-width: 30px;
    background-color: #00b348   ;
    box-shadow: 8px 8px 8px #888888;
    color: white;

}

#wpwrap {

    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    background-position-x: 210px;
    background-position-y: 130px;

}

div #dashboard-widgets .empty-container {

    display: none;
}

div .tablenav .actions .apply {

    display:none;
}

div .tablenav .actions.bulkactions {

    display:none;
}

div #publishing-action span {

  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 40px solid dodgerblue;
  border-right: 40px solid limegreen;
  border-bottom: 40px solid dodgerblue;
  border-left: 40px solid limegreen;
  width: 110px;
  height: 110px;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div .row-actions .view {

    display:none;
}

div .row-actions span.untrash{

    display:none;
}

#wpbody-content #dashboard-widgets .postbox-container {
    width: 30%;
    float: right;
    display: inline-flex;
}

#dashboard_widget_profile.postbox{
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    border-left-width: 50px;
    border-left-color: cornflowerblue;
}

#dashboard_widget_profile.postbox .inside{
    margin-bottom: 0;
    height: 70px;
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: white;
    font-style: oblique;
    font-weight: bolder;
}

.metabox-holder h2.hndle, .metabox-holder h3.hndle {
    font-size: 15px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    text-align: center;
}

.postbox {
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    background: white;
}

#dashboard_widget_video.postbox{
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    border-left-width: 50px;
    border-left-color: #0dda1d;
}

#dashboard_widget_video.postbox .inside{
    margin-bottom: 0;
    height: 70px;
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: white;
    font-style: oblique;
    font-weight: bolder;
}

#dashboard_widget_user.postbox{
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    border-left-width: 50px;
    border-left-color: orange;
}

#dashboard_widget_user.postbox .inside{
    margin-bottom: 0;
    height: 70px;
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: white;
    font-style: oblique;
    font-weight: bolder;
}
#dashboard_widget_watch.postbox{
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.04);
    border-left-width: 50px;
    border-left-color: yellow;
}

#dashboard_widget_watch.postbox .inside{
    margin-bottom: 0;
    height: 70px;
    text-align: center;
    font-size: -webkit-xxx-large;
    background-color: white;
    font-style: oblique;
    font-weight: bolder;
}

/*
#dashboard_widget_video.postbox .hndle.ui-sortable-handle {
     border-bottom: 1px solid #3e352a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/